.red{
    background-color:#c10d1f;
    color:white;
}
.title-container{
    text-align: center;
    color:white;
    padding:0.25em;
    border-top-left-radius : 8px;
    border-top-right-radius : 8px;
    background-color: #c10d1f;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

.tt{
    border-top-left-radius : 8px;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}



.labelStyle{
    text-align: center;
    color:#c10d1f;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
.outer-div {
     padding: 30px;
}
.center-vert {
     margin: 0 auto;
}
button:focus{
    outline: 0;
}
input:focus {
  outline: 0;
  /* -webkit-transition: 0.5s;
  box-shadow: 0 0 1pt 1pt #ffc61a; */
}

select:focus {
  outline: 0;
  /* -webkit-transition: 0.5s;
  box-shadow: 0 0 1pt 1pt #ffc61a; */
}

.flex-container {
    display: flex;
}

.flex-container > .div-padding {
    padding: 5px;
}

select {
    width: 100%;
}
.ss {
    background-color: #c10d1f;
    color:white;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
.border-leftll{
    /* border: 1px solid #c10d1f; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.border-rightll{
    /* border-right: 1px solid black; */
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box{
    margin:0.7em auto;
    max-width: 7em;
}






.glyphicon {
    font-size: 10px;
    color: black;
}
.glyphicon-plus:hover {
    cursor: pointer;
    color: green;
}
.glyphicon-chevron-down {
    font-size: 1em;
    color: black;
}
.glyphicon-chevron-down:hover {
    cursor: pointer;
    color: green;
}
.glyphicon-remove:hover {
    cursor: pointer;
    color: red;
}
